<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SQL Consult</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<h1>
  Estructure to Database
</h1>
<p>
  Id of consult : {{front._id}}
</p>

{% for element in front.schema %}

  <h1>
    Nombre Base de Datos: {{element.databasename}}

    {% for element in element.tables %}
      <h1>Nombre tabla: {{element.nametable}}</h1>

      <main>
        <table>
          <thead>
            <tr>
              <th>
                Column:
              </th>
              <th>
                Information_type:
              </th>
            </tr>
          </thead>
          <tbody>
      {% for value in element.columns %}
        {% for element in value %}
            <tr>
              <td data-title='Provider Name'>
                  {{element}}
              </td>
          {% endfor %}
        {% for element in value.values() %}
          <td data-title='E-mail'>
                {{element}}
          </td>
          {% endfor %}
        </tr>
      {% endfor %}
          </tbody>
        </table>
      </main>


    {% endfor %}
  </h1>



    <h1>{{tables}}</h1>





{% endfor %}


</body>
</html>
